@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Cal+Sans&display=swap");
* {
  box-sizing: border-box;
}

.App {
  padding: 2rem;
  font-family: Cal Sans;
  text-align: center;
  color: aliceblue;
  -webkit-text-stroke: 1px black;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 1rem;
  color: aliceblue;
}

h2 {
  font-size: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  overflow-x: auto;
}

.ventas {
  animation: appearfromleft 1s ease-in-out;
}
.componentes {
  animation: appearfromright 1s ease-in-out;
}

th,
td {
  border: 3px solid blue;
  padding: 0.7rem;
  text-align: center;
  animation: appear 1s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearfromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes appearfromright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fondoanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(45deg, black, #8a0000);
  background-size: 400% 400%;
  animation: fondoanimado 5s ease infinite;
}

.logoproyecciones {
  width: 300px;
  height: 300px;
  margin-bottom: -3rem;
  margin-top: -9rem;
  rotate: 3deg;
  animation: movex 6s alternate-reverse infinite;
}

@keyframes movex {
  from {
    transform: translateX(-80px);
  }
  to {
    transform: translateX(800px);
  }
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 1.2rem;
    padding: 0;
  }

  table {
    width: 100%;
    padding: 0%;
    font-size: 5px;
  }

  .logoproyecciones {
    width: 100%;
    height: auto;
    animation: picar 1s alternate-reverse infinite;
    margin-top: -5rem;
  }

  @keyframes picar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(20deg);
    }
  }

  table th,
  table td {
    font-size: 0.75rem;
    padding: 0.4rem;
  }

  .ventas table {
    width: 100%;
  }

  .boton {
    width: 100%;
    margin-right: 0px;
  }

  .App {
    padding: 0.5rem;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
  }

  .componentes {
    width: max-content;
    min-width: 600px;
  }
}

.tabla-scroll {
  overflow-x: auto;
  width: 100%;
}
